# models.config

model_config_list {
        config {
                name :  "mobilenet_v1"
                base_path: "/models/model/mobilenet_v1/"
                model_platform: "tensorflow"
        }

        config {
                name: "mobilenet_v2"
                base_path: "/models/model/mobilenet_v2/"
                model_platform: "tensorflow"
        }

        config {
                name: "inception_v3"
                base_path: "/models/model/inception_v3/"
                model_platform: "tensorflow"
        }

#       config {
#               name: "yolo_v5"
#               base_path: "models/model/yolo_v5/"
#               model_platform: "tensorflow"
#       }
}